@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Krona+One&family=Kumbh+Sans:wght@400;700&family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&family=Space+Grotesk:wght@400;500;600;700&display=swap');

:root {
  --dark: hsl(235, 24%, 19%);
  --light: hsl(0, 0%, 96%);
  --primary: hsl(235, 19%, 35%);
  --shadow: hsl(0, 0%, 86%);
  --bg-color: hsl(216, 88%, 53%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  list-style: none;
}

body {
  min-height: 100vh;
}

#video-bg {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

main {
  color: var(--dark);
  padding: 1rem;
  width: 90%;
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header {
  background-color: var(--dark);
  border-radius: 0 0 0 50px;
  color: var(--light);
  padding: 1rem;
  width: 100%;
  max-width: 600px;
  margin-bottom: 2rem;
}

.tweets-header-title {
  font-size: 2rem;
  font-weight: bold;
}

.tweets-container-create-form  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#tweet {
  width: 100%;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--light);
  outline: none;
  background-color: var(--light);
  color: var(--dark);
  font-size: 1.2rem;
}

.tweets-container-create-form-button {
  width: 80px;
  border-radius: 24px;
  padding: 0.5rem;
  border: 1px solid var(--bg-color);
  outline: none;
  background-color: var(--bg-color);
  color: var(--light);
  font-size: 1.2rem;
  cursor: pointer;
  align-self: flex-end;
}

.tweets-container-list {
  margin-top: 2rem;
}

.tweets-list {
  background-color: var(--light);
  border-radius: 5px 5px 0 0;
  box-shadow: 3px 3px 10px;
}

.tweets-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  gap: 1rem;
  border-bottom: 1px solid var(--primary);
  background-color: var(--light);
}

.tweets-list-item-text {
  font-size: 1.1rem;
  font-weight: 400;
}

